.formContainer {
  height: auto;
  width: 400px;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  min-height: 240px;
  justify-content: space-between;
  flex-flow: column;
}

.debug {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  padding: 5px;
}

.center {
  text-align: center;
}
