.formContainer {
  height: auto;
  width: auto;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  min-height: 278px;
  justify-content: space-between;
  flex-flow: column;
}

.center {
  text-align: center;
}

@media (min-width: 440px) {
  .formContainer {
    width: 400px;
  }
}
