.formContainer {
  height: auto;
  width: 400px;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  min-height: 240px;
  justify-content: space-between;
  flex-flow: column;
}

.center {
  text-align: center;
}
