.homeCard {
  width: 200px;
  height: 150px;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(145deg, rgba(255, 255, 255, 1) 10%, rgba(0, 210, 255, 0.05) 100%);
}

.homeCard:hover {
  background: linear-gradient(145deg, rgba(255, 255, 255, 1) 10%, rgba(0, 210, 255, 0.15) 100%);
}

.title {
  margin: 1em auto;
  text-align: center;
  line-height: 1.15;
  font-size: 4rem;
}

.cardTitle {
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 1rem;
  color: #00d1ff;
}

.cardText {
  color: #000;
}
